
h1 {color:plum}



.content {
  width: 80vw;
  height:auto;
  margin:3rem auto;

}

.todos {
  width: 80vw;
  margin: 1rem auto;
  
}

.todos ul{
color:lightseagreen;
list-style-type: none;
}

li{
  padding: 1rem 1rem;
  margin: 2rem;
  background-color: blanchedalmond;
  height: 20px;
  width: 200px;


}


.box {
  width: 200px;
  height: 200px;
  padding:2rem;
  margin: 2rem;
  background-color:aqua;
}
body {
  width: 100%;
  background-image: linear-gradient(176deg, rgba(48, 53, 97, 1), rgba(194, 57, 248, 1));

  };

  




